<main class="container">
  <h1>Room Manager</h1>
  <router-outlet></router-outlet>
  <hr class="mx-3">
  <button class="app-btn white me-3" (click)="connectToSocket()">Conectarse</button>
  <button class="app-btn" (click)="disconnectFromSocket()">Desconectarse</button>
  <hr class="mx-3 clear">
  <button class="app-btn me-3" (click)="joinRoom(roomInput.value)">Unirse</button>
  <input #roomInput type="text" id="room">
  <hr class="mx-3">
  <section class="modal-style">
    <h1>Notas</h1>
    <hr>
    <section class="modal-style">
      <h3>Message panel</h3>
      <hr class="clear">
      <p><strong>Important data</strong> has been released</p>
      <p><strong class="player-color-1">Player #1</strong> has a message for everyone</p>
    </section>
  </section>
  <button class="app-btn icon">
    <i class="bx bx-chat"></i>
  </button><button class="app-btn icon">
    <i class="bx bxs-book-content"></i>
  </button>
</main>
