<main class="container">
  <app-heading title="Lobby" [subtitle]="playerList.length.toString() + ' / 4 jugadores'"></app-heading>
  <section class="player-section modal-style">
    <header class="room-details">
      <p class="label">ID de partida:</p>
      <strong class="room-id"><span>#</span>{{roomCode}}</strong>
      <button class="app-btn icon square" (click)="onCopyRoomID()">
        <i class="icon bx bxs-copy"></i>
      </button>
    </header>
    <section class="player-list">
      <app-player-badge *ngFor="let player of playerList; index as i" [playerName]="player.name" [playerNumber]="i"></app-player-badge>
    </section>
  </section>
  <section class="btn-group">
    <button class="app-btn" (click)="onStartGame()" [disabled]="!isOwner || playerList.length != 4">{{isOwner ? "Iniciar partida" : "Esperando al anfitrión"}}</button>
    <button class="app-btn white" (click)="onLeaveLobby()">Cancelar</button>
  </section>
</main>
<app-footer></app-footer>
