@import "src/styles.scss";

.game-card {
  width: 12.25rem;
  height: 16rem;
  box-shadow: $shadow-profile, inset $shadow-profile;
  border-radius: $base-round-medium;
  border: 10px solid white;
  background: linear-gradient(142.56deg, #d75feb 1.22%, #9120b9 95.46%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
