/* You can add global styles to this file, and also import other style files */

// Font import
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap");

// Bootstrap Import
@import "bootstrap/scss/bootstrap.scss";

// Scss Variables

// App Colors

$siigo-blue: #00aaff;
$error-color: #FF6719;
$shadow-color: rgba(0, 0, 0, 0.25);

// Player colors
$player-color-1: #F2CC46;
$player-color-2: #6CDF12;
$player-color-3: #4AABE1;
$player-color-4: #EC6C23;

$button-round-value: 2rem;
$button-overlay-color: rgba(0, 0, 0, 0.25);
$shadow-profile: 0 1px 8px $shadow-color;
$pressed-shadow-profile: 0 1px 4px $shadow-color;
$base-round: 0.625rem;
$base-round-large: 1.5625rem;


* {
  font-family: "Sora", sans-serif;
}

.app-btn {
  position: relative;
  border-radius: $button-round-value;
  padding: 0.25rem 1.25rem;
  overflow: hidden;
  border: none;
  background-color: $siigo-blue;
  color: white;
  box-shadow: $shadow-profile;
  transition: all 150ms;

  &.white {
    background-color: white;
    color: $siigo-blue;
  }

  &:active {
    transform: translate(0, 1px);
    box-shadow: $pressed-shadow-profile;
  }

  &:active::after {
    content: "";
    background-color: $button-overlay-color;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.player-color-1 {
  color: $player-color-1;
}

.player-color-2 {
  color: $player-color-2;
}

.player-color-3 {
  color: $player-color-3;
}

.player-color-4 {
  color: $player-color-4;
}

.error-color {
  color: $error-color;
}

.modal-style {
  box-shadow: $shadow-profile;
  padding: 2rem;
  border-radius: $base-round-large;
}

.clear {
  background-color: transparent;
}

.bold-0 {
  font-weight: 400;
}

.bold-1 {
  font-weight: 600;
}

.bold-2 {
  font-weight: 800;
}
